// src/app/globals.scss

// Existing Variables
$primary-color: #1d4ed8; // Blue
$secondary-color: #23bdf9; // Purple

// New Variables
$success-color: #10b981; // Green
$danger-color: #ef4444; // Red
$warning-color: #f59e0b; // Yellow
$info-color: #3b82f6; // Light Blue

// Import Tailwind CSS directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Define CSS variables using SCSS variables
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

// Use nesting and variables in your styles
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Geist Sans', sans-serif;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: $primary-color;
  }

  a {
    color: $secondary-color;
    &:hover {
      text-decoration: underline;
    }
  }

  button {
    @apply focus:outline-none focus:ring-2 focus:ring-blue-500;
  }

}

.nav-link {
  @apply px-3 py-2 rounded-md text-sm font-medium transition-colors duration-200;
  background-color: transparent;
  color: var(--foreground);

  &:hover {
    background-color: $primary-color;
    color: white;
  }
}

@mixin button-styles($bg-color, $hover-color, $text-color: white) {
  @apply px-4 py-2 rounded-lg transition-colors duration-200;
  background-color: $bg-color;
  color: $text-color;

  &:hover {
    background-color: $hover-color;
  }
}

// Usage in button classes
.btn-primary {
  @include button-styles($primary-color, darken($primary-color, 10%));
}

.btn-success {
  @include button-styles($success-color, darken($success-color, 10%));
}

.btn-danger {
  @include button-styles($danger-color, darken($danger-color, 10%));
}
